#%PAM-1.0
# {{ ansible_managed }}
{% if pam_application.description is defined %}

#
# {{ pam_application.description }}
#
{% endif %}

{% for entry in pam_application.directives %}
{% if entry.name is defined -%}
{% if entry.comment is defined  %}
# {{ entry.comment | wordwrap(wrapstring='\n# ') }}
{% endif %}
{{ entry.interface.ljust(17) }} {{ entry.control.ljust(20) }} {{ entry.name }}.so{% if entry.arguments is defined %} {{ entry.arguments }}{% endif %}
{% elif entry.include is defined  %}
{% if entry.comment is defined  %}
# {{ entry.comment | wordwrap(wrapstring='\n# ') }}
{% endif %}
{{ entry.interface.ljust(17) }} include          {{ entry.include }}
{% elif entry.comment is defined  %}

# {{ entry.comment }}
{% endif %}

{% endfor %}
